.first{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    color: #f56565;
}
.nav {
    list-style-type: none;
}
.active{
    
    color: #f56565;
}
.title-font{
    color: #f56565;

}
.text-gray-9000{
    color: #f56565;
}
.bg-gray-1000{
    color: #f56565;
}
.h-481{
    height: 20rem;
}
@media (max-width: 768px){
    .ban img{
        width: 100%; 
        height: 480px;

    }
    
}
@media (max-width: 1280px){
    .ban img{
        width: 100%; 
        

    }
    
}

.top{
    position: sticky;
    top: 0;
    background-color: white;   
}
.newbar{
    margin-top: 100px;
}
.recommended{
    text-align: center;
    font-size: 3rem;
    color: #f56565;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 210%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #f56565 ;
  font-weight: bold;
  font-size: 4rem;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next{
    right: 0;

}
.mt-1{
    margin-top: 0.25rem;
    font-size: 1rem;
}
.w-full1{
    width: 100%;
    height: fit-content;
}